-
  var businessAdvantagesList = [
    'Минимальные сроки на запуск и организацию бизнеса с поддержкой на всех этапах.',
    'Высокая рентабельность и быстрая окупаемость благодаря оптимизации процессов',
    'Готовые решения для привлечения клиентов и усиления локального маркетинга.',
  ]

-
  var businessBlockGridList = [
    '2 шиномонтажника',
    'мастер по правке дисков',
    'бухгалтер на аутсорсе',
  ]

-
  var businessBottomItems = [
    {
      title: 'Инвестиции',
      text: '<p><strong>2 806 400</strong> ₽</p>'
    },
    {
      title: 'Окупаемость',
      text: '<p><strong>10</strong> месяцев</p>'
    },
    {
      title: 'Размер роялти',
      text: '<span>с 2-го месяца — 2,5% от выручки</span> <span>с 4-го месяца — 5% от выручки</span>'
    },
    {
      title: 'Средняя ежемесячная выручка',
      text: '<span>В сезон — до 1 000 000 ₽</span> <span>В остальные месяцы — до 450 000 ₽</span>'
    },
    {
      title: 'Средняя ежемесячная чистая прибыль',
      text: '<span>В сезон — до 730 000 ₽</span> <span>В остальные месяцы — до 350 000 ₽</span>'
    },
    {
      title: 'Ориентировочный доход за 2 года сотрудничества',
      text: '<p><strong>7 405 000</strong> ₽</p>'
    },
  ]

section.business.business-tire
  .container
    h2.title.business-title.tac.business-tire-title Бизнес-модель «Шиномонтаж» в деталях
    p.business-subtitle.tac Осуществляйте шиномонтажные работы по сформированному алгоритму в своём регионе.
    .business-blocks
      .business-block
        .business-block-title Преимущества
        ul.business-block-list
          each item in businessAdvantagesList
            li
              img(src='img/business/check.svg', alt='check')
              span= item
      .business-block
        .business-block-title Ресурсы для открытия
        .business-block-grid
          div.business-block-grid-item
            img.business-block-grid-img(src='img/business/resource-1.svg', alt='resource-1')
            .business-block-grid-title Персонал:
            ul.business-block-grid-list
              each item in businessBlockGridList
                li= item
          div.business-block-grid-item
            img.business-block-grid-img(src='img/business/resource-2.svg', alt='resource-2')
            .business-block-grid-title Помещение:
            p.business-block-grid-text от 30 м2
    .business-bottom-slider.splide#business-slider-2
      .splide__track
        .splide__list.business-bottom-items
          each item in businessBottomItems
            .business-bottom-item.splide__slide
              .business-bottom-item-title= item.title
              .business-bottom-item-text !{item.text}
    button.button.business-button(data-fancybox, href='#modal-4')
      span Получить план запуска