footer.footer
  .container
    .footer-wrapper
      .footer-left
        .footer-company «Форсаж» ®, 2004–<span data-year></span> г.
        .footer-ip ИП Мартынов Алексей Анатольевич, <br> ИНН 503407305100
        .footer-address
          span Российская Федерация, <br> Московская область, г. Орехово-Зуево
          img(src='img/footer/city.png', alt='city')
      .footer-center
        p Сделано в России ⚪🟣🔴
        a(href='#modal-policy', data-fancybox) Политика конфиденциальности
      .footer-right
        .footer-call
          a.footer-phone(href='tel:+7 (916) 195-85-79')
            button.button.header-button
              span +7 (916) 195-85-79
          p позвоните сейчас, чтобы не ждать звонка
        a.footer-f5(href='https://xn--5-7sbamtgf4aex7b0b.xn--p1ai/', target='_blank')
          img(src='img/footer/f5.svg', alt='f5')
          span Упаковка и продвижение франшиз: «Франчайзинг5»
