.form-policy
  img(src='img/form/checkbox.svg', alt='checkbox')
  p Я подтверждаю, что ознакомлен и даю согласие на обработку персональных данных на условиях и для целей, определяемых <a data-fancybox href="#modal-policy">Политикой конфиденциальности</a>