section.franchise
  .container
    h2.title.franchise-title.tac С франшизой «Форсаж» вы получаете готовые технологии для заработка
    .title.franchise-subtitle.tac от 385 000 ₽ чистой прибыли в месяц
    .franchise-text.tac Мы создали эффективные бизнес-модели в нише с высоким спросом и готовы поделиться нашим опытом с партнёрами.
    form
      .openform
        .openform-title Получите индивидуальное предложение о сотрудничестве
        .openform-inputs
          include form-input-phone
          include form-input-email
          include form-input-name
          button.button.openform-button
            span Получить предложение
        include form-policy