script(src='js/fancybox.umd.js')
script(src='js/jquery-3.6.1.min.js')
script(src='js/jquery.validate.min.js')
script(src='js/imask.js')
script(src='js/splide.min.js')
script(src='js/main.js')
script(src='js/formprocessor.js')
script(src='js/animated-accordion.js')
script(
  src='https://api-maps.yandex.ru/2.1/?apikey=c3472711-0044-40b4-92fe-e8200d2156a0&load=package.map&lang=ru-RU&ver=2.',
  type="text/javascript",
  id="yamapsapi-js"
)