-
  var supportAccordionItems = [
    {
      title: 'Запуск бизнеса',
      list: [
        'Подключение к корпоративной CRM-системе',
        'Анализ не менее 5 подобранных партнёром локаций',
      ]
    },
    {
      title: 'Обучение',
      list: [
        'Проведение 3-дневного первичного обучения партнёра опробованным успешным технологиям',
      ]
    },
    {
      title: 'Консультационная поддержка',
      list: [
        'Создание и предоставление доступа к рабочему чату по операционным вопросам',
        'Предоставление рекомендаций партнёру при заключении договора аренды',
        'Расчёт ключевых показателей по финансовой модели для партнёра',
      ]
    },
    {
      title: 'Маркетинг',
      list: [
        'Помощь в создании карточек компании в геолокационных сервисах',
        'Помощь в создании и первичном наполнении социальных сетей для партнёра',
        'Размещение информации о франчайзи-партнёре на сайте УК, а также настройка рекламных кампаний на регион партнёра',
        'Помощь в создании и ведении офлайн маркетинговых кампаний на территории партнёра',
      ]
    },
  ]

section.support.support-tire
  .container
    h2.title.support-title Полная поддержка на старте в рамках концепции «Шиномонтаж»
    .accordion#accordion-2
      each item in supportAccordionItems
        .itc-accordion-item
          .itc-accordion-header= item.title
          .itc-accordion-body
            .itc-accordion-content
              .itc-accordion-text
                ul
                  each el in item.list
                    li= el