-
  var supportAccordionItems = [
    {
      title: 'Запуск бизнеса',
      list: [
        'Готовый и отлаженный процесс работы автосервиса, который уже доказал свою эффективность на рынке.',
        'Подключение к корпоративной CRM-системе',
        'Анализ не менее 5 подобранных партнёром локаций и рекомендации по заключению договора',
        'Создание план-схемы расстановки оборудования',
      ]
    },
    {
      title: 'Обучение',
      list: [
        'Проведение 3-дневного первичного обучения партнёра',
        'Проведение 7-дневного онлайн-обучения сотрудников партнёра',
      ]
    },
    {
      title: 'Консультационная поддержка',
      list: [
        'Предоставление доступа к рабочему чату по операционным вопросам',
        'Помощь в заключении договоров с производителями оборудования и инструмента согласно требованиям сети',
        'Предоставление рекомендаций франчайзи-партнёру при заключении договора аренды',
        'Расчёт ключевых показателей по финансовой модели',
      ]
    },
    {
      title: 'Маркетинг',
      list: [
        'Помощь в создании карточек компании в геолокационных сервисах',
        'Помощь в создании и первичном наполнении социальных сетей для партнёра',
        'Размещение информации о франчайзи-партнёре на сайте УК, а также настройка рекламных кампаний на регион партнёра',
        'Помощь в создании и ведении офлайн маркетинговых кампаний на территории партнёра',
      ]
    },
  ]

section.support
  .container
    h2.title.support-title Комплексная поддержка на старте в рамках концепции «Автосервис»
    .accordion#accordion-1
      each item in supportAccordionItems
        .itc-accordion-item
          .itc-accordion-header= item.title
          .itc-accordion-body
            .itc-accordion-content
              .itc-accordion-text
                ul
                  each el in item.list
                    li= el