.thanks
  .container
    .thanks-wrapper
      h1.thanks-title <span id="thanksName">[Имя],</span> благодарим Вас за обращение в компанию «Форсаж»®
      .thanks-subtitle Для обсуждения сотрудничества мы свяжемся с Вами в ближайшее время.
      .thanks-schedule-wrapper
        .thanks-schedule-item
          img(src='img/thanks/schedule-1.svg', alt='schedule-1')
          div
            span График работы компании:
            p Без выходных
        .thanks-schedule-item
          img(src='img/thanks/schedule-2.svg', alt='schedule-2')
          div
            span По московскому времени:
            p с 8:00 до 22:00
      .thanks-weekend Если Вы оставили заявку в нерабочее время или в выходной/праздничный день — мы перезвоним Вам в ближайший рабочий день.
      .thanks-links-wrapper
        a.thanks-link-item(href='https://vk.com/forsage_ld', target='_blank')
          span О жизни проекта в соцсети:
          img(src='img/thanks/vk.svg', alt='vk')
        a.thanks-link-item(href='https://yandex.ru/maps/37141/likino-dulevo/?from=tabbar&ll=38.951728%2C55.731541&mode=poi&poi%5Bpoint%5D=38.949908%2C55.731487&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D1152131975&source=serp_navig&z=17', target='_blank')
          span Отзывы клиентов:
          img(src='img/thanks/yandex-maps.svg', alt='yandex-maps')
        a.thanks-link-item(href='https://forsage-oz.ru/', target='_blank')
          span Главный сайт:
          img(src='img/thanks/main-site.png', alt='main-site')
      a.thanks-back(href='index.html') Вернуться на основную страницу