.support {
  padding: int(80,130) 0 int(80,140);
  background: url("../img/support/bg.jpg") left top / cover no-repeat;
}

.support-title {
  max-width: 1121px;
  margin-bottom: int(40,64);
}

.support-tire {
  background-image: url("../img/support/bg-tire.jpg");
}